<div>
  <%= link_to 'Home', root_path %>
  <%= link_to 'About', pages_about_path %>
  <%= link_to 'Contact', pages_contact_path %>
  <%= link_to 'Blogs', blogs_path %>
  <% if current_user %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %> 
    <%= link_to "Edit Account", edit_user_registration_path %>
  <% else %>
    <%= link_to "Register", new_user_registration_path %> 
    <%= link_to "Login", new_user_session_path %> 
  <% end %>
</div>




